gradio
numpy
scipy
pandas
scikit-learn

transformers
spacy
torch
sentence-transformers

joblib

# LLM & Hugging Face
sentencepiece
accelerate

chromadb

torch
wikipedia-api
requests

# Utilities
regex
tqdm
